@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thanksgiving Is A Lie | Starring Billy Mays</h1>
    <img src="https://mediad.publicbroadcasting.net/p/wesa/files/styles/x_large/public/201304/Billy_Mays_Portrait_Cropped.jpg" alt="Italian Trulli">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
